config.php
install/install.lock
admin/@login.lock
lakala_log.txt
assets/uploads/
upload/
uploads/
plugins/sandpay/logs/
plugins/kuaiqian/temp/
plugins/douyinpay/cert/
epay_release*
epay_update*
.env
.git/
**/.git/
**/*.env
**/*.zip
**/*.tar
**/*.tar.gz
**/*.tgz
**/*.7z
**/*.rar
**/*.log
**/*.key
**/*.sql
!install/*.sql
**/.svn/
**/.hg/
**/*.phtml
**/*.phar
**/*.php[0-9]*
**/*.bak*
**/*.old*
**/*.orig*
**/*.save*
**/*.swp
html.before_seed_*/
html.new.*/
*.before_restore_*/
Epay.before_restore_*/
security-backups/
private-receipts/
**/private-receipts/
**/private_receipts/
mysql/
.env
.git/
private-receipts/
**/private-receipts/
**/private_receipts/
tests/
test/
fixtures/
**/fixtures/
Dockerfile
.dockerignore
